# Configuration file for TAK Server
#

# Quick Connect (aka. self-enrollment) Let's Encrypt Configuration
TAKSERVER_QuickConnect_LetsEncrypt_Domain=ops.dev.tak.nz
TAKSERVER_QuickConnect_LetsEncrypt_Email=admin@tak.nz
# Valid: Production, Test, None
TAKSERVER_QuickConnect_LetsEncrypt_CertType=Production

# CA Configuration
TAKSERVER_CACert_Country=NZ
TAKSERVER_CACert_State=Wellington
TAKSERVER_CACert_City=Wellington
TAKSERVER_CACert_Org=TAK.NZ
TAKSERVER_CACert_OrgUnit=TAK.NZ Operations

# Input Configuration
# Valid: x509, ldap
TAKSERVER_CoreConfig_Network_Input_8089_Auth=x509

# Connector Configuration
# Valid: true, false
TAKSERVER_CoreConfig_Network_Connector_8443_EnableAdminUI=true
# Valid: true, false
TAKSERVER_CoreConfig_Network_Connector_8443_EnableNonAdminUI=true
# Valid: true, false
TAKSERVER_CoreConfig_Network_Connector_8443_EnableWebtak=true
# Valid: true, false
TAKSERVER_CoreConfig_Network_Connector_8446_EnableAdminUI=true
# Valid: true, false
TAKSERVER_CoreConfig_Network_Connector_8446_EnableNonAdminUI=true
# Valid: true, false
TAKSERVER_CoreConfig_Network_Connector_8446_EnableWebtak=true

# LDAP Auth Configuration
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509groups=true                                   
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509addAnonymous=false
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509useGroupCache=true
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509useGroupCacheDefaultActive=true
# Valid: true, false
TAKSERVER_CoreConfig_Auth_X509checkRevocation=true
# Base DN will be appended automatically
TAKSERVER_CoreConfig_Auth_LDAP_Userstring="cn={username},ou=users,"
TAKSERVER_CoreConfig_Auth_LDAP_Updateinterval=60
TAKSERVER_CoreConfig_Auth_LDAP_Groupprefix="cn=tak_"
TAKSERVER_CoreConfig_Auth_LDAP_GroupNameExtractorRegex="cn=tak_(.*?)(?:,|$)"
TAKSERVER_CoreConfig_Auth_LDAP_Style=DS
# Base DN will be appended automatically
TAKSERVER_CoreConfig_Auth_LDAP_ServiceAccountDN="cn=ldapservice,ou=users,"
TAKSERVER_CoreConfig_Auth_LDAP_GroupObjectClass="groupOfNames"
# Base DN will be appended automatically
TAKSERVER_CoreConfig_Auth_LDAP_GroupBaseRDN="ou=group,"
TAKSERVER_CoreConfig_Auth_LDAP_CallsignAttribute="takCallsign"
TAKSERVER_CoreConfig_Auth_LDAP_ColorAttribute="takColor"
TAKSERVER_CoreConfig_Auth_LDAP_RoleAttribute="takRole"
